<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administration page</title>
</head>
<body>
<p class="topsecret_image">
    <img th:attr="src=@{/images/topsecret.png},alt='top'" width="200" height="400"/>
</p>
<style>
    .topsecret_image {
        text-align: center;
    }</style>

<style>
    body {
        background-color: darkcyan;
    }
</style>

<a th:href="@{public}">public</a><br>

<div th:insert="~{fragment::logout}"></div>


</body>
</html>